@model MVC2._0.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Genre: @Model.Genre.Name</li>
    @if (@Model.ReleaseDate != null)
    {
        <li>Release date: @Model.ReleaseDate.ToLongDateString()</li>
    }
    @if (@Model.DateAdded != null)
    {
        <li>Date added: @Model.DateAdded.ToLongDateString()</li>
    }
    <li>In stock: @Model.InStock</li>
</ul>


